@charset "UTF-8";

#loadImage{

    max-width: 20%;
    min-width: 10%;

    /**Center the image**/
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;



}